<div>	
	<button data-ng-click="save()" class="btn">Save</button>
	<button data-ng-click="cancel()" class="btn">Cancel</button>
	<br>	
	<input id="equipPk" name="pk" type="number" hidden="true" data-ng-model="equip.pk"/>
	<br>
	<div class="input-group">
	  <span class="input-group-addon" id="sizing-addon2">Name</span>
	  <input id="name" name="name" type="text" class="form-control" data-ng-model="equip.equipName" placeholder="Equipment Name" aria-describedby="sizing-addon2">  
	</div>
	<br>
	<div class="input-group">
	  <span class="input-group-addon" id="sizing-addon2">License</span>
	  <input id="license" name="license" type="text" class="form-control" data-ng-model="equip.license" placeholder="License" aria-describedby="sizing-addon2">  
	</div>
	<br>
	<div class="input-group">
	  <span class="input-group-addon" id="sizing-addon2">State</span>
	  <input id="state" name="state" type="text" class="form-control" data-ng-model="equip.state" placeholder="State" aria-describedby="sizing-addon2">  
	</div>
	<br>
	<div class="input-group">
	  <span class="input-group-addon" id="sizing-addon2">Efficiency</span>
	  <input id="efficiency" name="efficiency" type="number" class="form-control" data-ng-model="equip.efficiency" placeholder="Efficiency" aria-describedby="sizing-addon2">  
	</div>
	<br>
	<div class="input-group">
	  <span class="input-group-addon" id="sizing-addon2">Activity</span>
	  <input id="activity" name="activity" type="text" class="form-control" data-ng-model="equip.activity" placeholder="Activity" aria-describedby="sizing-addon2">  
	</div>
	<br>
	<div class="input-group">
	  <span class="input-group-addon" id="sizing-addon2">Operator</span>
	  <input id="operator" name="operator" type="text" class="form-control" data-ng-model="equip.operator" placeholder="Operator" aria-describedby="sizing-addon2">  
	</div>
</div>